In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('boros.csv')
df.head()

     borough  cats  population
0  Manhattan   107        1400
1   Brooklyn   205        3412
2      Bronx    33         323

In [10]:
df['cats_per_capita'] = df['cats'] / df['population']
df.head()

     borough  cats  population  cats_per_capita
0  Manhattan   107        1400         0.076429
1   Brooklyn   205        3412         0.060082
2      Bronx    33         323         0.102167

In [31]:
def cats_per_capita(row):
    cats_per_capita = row['cats'] / row['population']
    
    if cats_per_capita < 0.1:
        high_or_low = 'low'
    else:
        high_or_low = 'high'
        
    return pd.Series({
        'high_or_low': high_or_low
    })

df.apply(cats_per_capita, axis=1).join(df)

  high_or_low    borough  cats  population  cats_per_capita
0         low  Manhattan   107        1400         0.076429
1         low   Brooklyn   205        3412         0.060082
2        high      Bronx    33         323         0.102167

In [43]:
def calculate_cats(row):
    return 'A'

df['cat_words'] = df.apply(calculate_cats, axis=1)
df.head()

     borough  cats  population  cats_per_capita cat_words
0  Manhattan   107        1400         0.076429         A
1   Brooklyn   205        3412         0.060082         A
2      Bronx    33         323         0.102167         A

In [21]:
df.apply(lambda x: x['cats'] / x['population'], axis=1)

0    0.076429
1    0.060082
2    0.102167
dtype: float64

In [64]:
list_to_sort = [3, 9, 4, 12, 9, 1, 2, 9, 3, 6, 3, 2, 1, 9, 3, 7]

for index, n in enumerate(list_to_sort):
    temp = n
    for m in list_to_sort[index:]:
        if m < temp:
            temp = m
            
    list_to_sort[index] = temp
    list_to_sort[] = 
    
print(list_to_sort)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 7]

In [ ]:
def bubbleSort(arr):
   l = len(arr)
   for (var i = len-1; i>=0; i--){
     for(var j = 1; j<=i; j++){
       if(arr[j-1]>arr[j]){
           var temp = arr[j-1];
           arr[j-1] = arr[j];
           arr[j] = temp;
        }
     }
   }
   return arr;