In [3]:
import glob
import pandas as pd
import re

In [98]:
filenames = glob.glob('tesseract_output/*.txt')
plates = []

In [102]:
for file in filenames:
    raw_txt = open(file, 'r').read()
    plate = {'filename': file}

    # Search for the date
    match = re.search(r'.*\d, \d\d\d\d', raw_txt)
    if match:
        plate['date'] = match.group(0)
    
    # Search for the plate number
    match = re.search(r'plate (.*)\.', raw_txt)
    if match:
        plate['plate'] = match.group(1)
    
    # Search for the rejection reasons
    match = re.search(r'reasons:(.*)Please', raw_txt)
    if match:
        plate['reasons'] = match.group(1)
    
    # Add the plate to the list
    plates.append(plate)
    
plates_df = pd.DataFrame(plates)

In [104]:
plates_df.head()

                 date                                  filename     plate
0  September 23, 2013   tesseract_output/vanity_plate-0.png.txt   NUTDEEP
1    October 11, 2013   tesseract_output/vanity_plate-1.png.txt     KILLR
2  September 19, 2013  tesseract_output/vanity_plate-10.png.txt    BENWAH
3  September 23, 2013  tesseract_output/vanity_plate-11.png.txt      MAMS
4     August 19, 2013  tesseract_output/vanity_plate-12.png.txt  CATLII‘S

In [105]:
plates_df.to_csv('result.csv')